#sobre{
    min-height: calc(100vh - 91px);
}

#sobre_content {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 20px 20px;
    
}

#sobre_content img {
    width: 200px;
    border-radius: 100px;
    height: 200px;
    padding: 20px;
}

@media screen and (max-width: 430px){
    #sobre_content img {
        display: none;
    }
}